.DS_Store
.vs/
.vscode/
build/**
target
bin

key/
out/
log/

Cert-Store/
Data/

main.x
Setup.x

*.o
*.obj
*.idea
*.iml
*.log
*.enc
*.suo
*.lik
*.lnk
*.pdb
*.db
*.pch
*.ipch
*.x

updata-github.sh
